.main {
  /* background-color: rebeccapurple; */

  padding: 1px 6px;
  min-height: 90vh;

  /* & > * {
    padding: 0 120px
  } */

  & h1 {
    /* font-size: 2.5rem; */
    /* font-weight: bold; */
    text-align: center;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
  }
}


@media only screen and (min-width: 900px) {
  .main > * {
    padding: 3px 96px
  }
}

@media only screen and (min-width: 600px) {
  .main > * {
    padding: 3px 60px
  }
}

@media only screen and (max-width: 400px) {
  .main > * {
    padding: 3px 12px
  }
}
